body{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    background: linear-gradient(-45deg, #00a300, #006400, #007c1579, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 30s ease infinite;
      height: 100vh;
  
      
  }
  
  
  /* CSS Main Menu */
  
  .navmenu {
      width: 100%;
      background: #303030;
      display: inline-block
  }
  
  #menu {
      color: #fff;
      font-size: 18px;
      position: relative;
      top: 5px;
      font-weight: 500;
      cursor: pointer;
      padding-left: 10px;
  }
  
  #menu a {
      text-decoration: none
  }
  
  nav {
      display: none
  }
  
  nav ul {
      list-style-type: none;
      padding-left: 0;
      font-size: 0;
      background-color: #303030
  }
  
  nav li {
      display: block;
      font-size: 16px;
      color: white;
          margin: 0 5px;
  }
  
  ul.navbar>li>a {
      color: #fff
  }
  
  nav a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: inherit
  }
  
  
  /*==Dropdown Menu==*/
  
  .sub-menu li {
      list-style-type: none;
      display: inline-block
  }
  
  ul.navbar li ul.sub-menu {
      display: none;
      position: absolute
  }
  
  ul.navbar li {
      position: relative;
  }
  
  ul.navbar li:hover ul.sub-menu {
      display: block
  }
  
  .sub-menu li {
      margin-left: 0!important
  }
  
  ul.sub-menu>li>a {
      color: #fff;
  }
  ul.navbar>li>a:hover,
  ul.sub-menu>li>a:hover {
      color: #035001;
  }
  
  @media only screen and (max-width:720px) {
      nav ul {
          width: 100%!important
      }
      #sub-menu {
          display: none
      }
      nav a {
          padding: 5px 10px
      }
  }
  
  @media only screen and (min-width:720px) {
      #menu {
          display: none
      }
      #navbar{
      height: 50px;
      line-height: 50px;
  }
      nav {
          display: block!important
      }
      nav li {
          display: inline-block
      }
      #search-form input {
      height: 50px;
      padding: 10px;
      margin: 5px 0;
   }
  }
  
  
  /*----- Search -----*/
  
  #search-form {
      display: inline-block;
      padding-top: 4px;
      padding-right: 5px;
    float: right;
  }
  
  #search-form input {
      width: 200px;
      float: left;
      border-radius: 2px 0 0 2px;
      font-size: 13px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 0;
      outline: 0;
      font-size: 100%;
      font: inherit
  }
  
  #button-submit {
      width: auto!important;
      float: right;
      border-radius: 0 2px 2px 0;
      background: #66a992;
      font-size: 13px;
      font-weight: 600;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
      color: #fff
  }
  
  @media only screen and (max-width: 720px) {
      .navmenu {
          padding: 5px;
      }
      #navbar{
           display: none;
          height: 24px;
          line-height: 24px;
      }
      .toggle-nav {
          padding: 6px 10px
      }
      #search-form input {
          width: 150px;
          padding: 5px;
          margin: 0;
      }
  }
  
  
  
  
  h3{
      display: center;
      text-align: center;
      color: white;
      font-size: 30px ;
  }
  h1 {
      display: center;
      text-align: center;
      color:white;
      font-size: 65px;
      text-transform: uppercase;
  }

  p{
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;

    

  }
  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
